* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header , #color-palette {
  text-align: center;
}

.generateBoardContainer {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}


.inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.color {
  border: 1px solid black;
  height: 60px;
  width: 60px;
  display: inline-block;
}

#preto {
  background-color: black;
}

#board-size {
  margin-right: 4px;
  border-radius: 5px;
  border: 1px solid black;
}

#board-size:focus {
  outline: none;
}

#generate-board {
  width: 3em;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
}

#clear-board {
  text-align: center;
  margin-top: 8px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
}

#pixel-board {
  margin-top: 20px;
  text-align: center;
}

.pixel {
  display: inline-block;
  border: 0.5px solid rgba(0, 0, 0, 0.575);
  border-bottom: 2px solid rgba(0, 0, 0, 0.575);
  height: 2.5em;
  width: 2.5em;
  margin-top: -5px;
  background-color: white;
}
