.color {
    border: 1px solid black;
    height: 60px;
    width: 60px;
    display: inline-block;
}

#preto {
    background-color: black;
}

#verde {
    background-color: green;
}

#azul {
    background-color: blue;
}

#amarelo {
    background-color: yellow;
}

#board-size, #generate-board {
    margin-top: 7px;
}

#clear-board {
    margin-top: 10px;
    margin-left: 80px;
}

#pixel-board {
    margin-top: 10px;
    margin-left: 10px;
}

.pixel {
    display: inline-block;
    border: 1px solid black;
    height: 40px;
    width: 40px;
    margin-right: -5px;
    margin-bottom: -5px;
    background-color: white;
}